.jumbotron {
    background-image: url("https://image.freepik.com/free-vector/mars-landscape-background-with-flat-design_23-2147979445.jpg");
    background-size: cover;
}


.h1 {
    font-size: 200px;
    color: white;
  }